<h1>Student Form</h1>
<%= form_for @student do |f| %>
    <%= f.label :student, :first_name  %> <br>
    <%= f.text_field :first_name %> <br>
    <%= f.label :student, :last_name  %> <br>
    <%= f.text_field :last_name %> <br>
    <%= f.submit %>
<% end %>